.header__container {
  max-width: 1440px;
  background-image: url("../images/main1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 41px 0 71px;
}

.header__logo {
  display: block;
  width: 102px;
  height: 23px;
  margin: 0 auto;
}

.header__title {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #fff;
  width: 100%;
  text-align: center;
  letter-spacing: 5.71px;
  margin: 305px 0 0;
}

.header__second_title {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  margin: 21px 0 0;
}

.header__text {
  display: block;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  line-height: 14.98px;
  margin: 221px 0 0;
  letter-spacing: 3.7px;
}

.header__text:hover {
  font-size: 1.05em;
  transition: 1s;
}

/* .burger {
  display: none;
}

.burger.active {
  opacity: 0;
  display: hidden;
}

.cross {
  display: none;
}

.cross.active {
  display: block;
  position: fixed;
  z-index: 100;
} */

.burger__list {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: -100%;
  transition: 1s;
  flex-direction: column;
  background-color: #3a4f63;
  opacity: 0.9;
  padding: 30% 0 0 0;
  text-align: center;
  display: flex;
  z-index: 1;
}

/* .burger__list.active {
  top: 0;
  left: 0;
  z-index: 100;
} */

.burger__link {
  font-weight: 700;
  margin-top: 50%;
  font-size: 25px;
  line-height: 100px;
  color: #00a4e5;
}

.header__line {
  max-width: 1440px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  margin: 0 auto;
}

.header__nav {
  max-width: 940px;
  padding: 24px 0 23px;
  display: flex;
}

.header__navigation {
  width: 50%;
  align-items: center;
}

.header__navigation__logo {
  width: 80px;
  margin: 3px 48% 0 0;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1.09px;
}

.header__link {
  font-size: 12px;
  font-weight: 700;
  color: #48555b;
}

.header__link:hover {
  color: #00a4e5;
}

.nav__span {
  width: 40px;
  height: 5px;
  display: block;
  position: fixed;
  top: 40px;
  right: 25px;
  background-color: #00a4e5;
  display: none;
  z-index: 1;
}

.nav__span1 {
  width: 40px;
  height: 5px;
  display: block;
  position: fixed;
  top: 50px;
  right: 25px;
  background-color: #00a4e5;
  display: none;
  z-index: 1;
}

.nav__span2 {
  width: 40px;
  height: 5px;
  display: block;
  position: fixed;
  top: 60px;
  right: 25px;
  background-color: #00a4e5;
  display: none;
  z-index: 1;
}



.nav__check {
  opacity: 0;
  top: 30px;
  right: 25px;
  z-index: 3;
  width: 40px;
  height: 40px;
  position: fixed;
  display: none;
}

.nav__list {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 0;
  top: 50px;
}

.nav__check:checked ~ .burger__list {
  top: 0;
  left: 0;
  transition: 1s;
}

.nav__check:checked ~ .nav__span {
  top: 50px;
  transform: rotate(45deg);
  transition: 0.5s;
  z-index: 2;

}

.nav__check:checked ~ .nav__span1 {
  transform: rotate(45deg);
  transition: 1s;
  z-index: 2;
  opacity: 0;
}

.nav__check:checked ~ .nav__span2 {
  top:50px;
  transform: rotate(-45deg);
  transition: 0.5s;
  z-index: 2;
  
}



@media (max-width: 960px) {
  .header__line {
    padding: 0 20px;
  }

  .header__navigation {
    width: 90%;
    align-items: center;
  }

  .header__navigation__logo {
    width: 80px;
    margin: 3px 20% 0 0;
    justify-content: center;
  }

  .header__nav {
    max-width: 100%;
  }

  
}

@media (max-width: 575px) {
  /* .burger {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 26px;
    top: 43px;
    z-index: 1;
  } */

  /* .cross {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 43px;
  } */

  .header__list {
    display: none;
  }

  .header__line {
    display: none;
  }

  .nav__span,.nav__span1,.nav__span2, .nav__check {
     display: block;
  }

}

@media (max-width: 480px) {
  .header__second_title {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 48px;
  }
}
